body {
  background: #f7f7f8;
  font-family: 'Poppins', sans-serif;
  padding: 50px 0;
}

h1 {

  height:90px;
  background-color: rgb(245, 222, 192);
  text-align: center;
  margin-bottom: 40px;
  color: #b92b27;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0px 0px 20px 20px;
 width: 90%;
  margin: 0 auto 40px auto;
}


.form-container {
  /* width: 40%;
  margin: auto; */
  width: 50%;
  margin: 0 auto 60px auto;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);


}

form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  background: #b92b27;
  color: white;
  cursor: pointer;
  font-size: 15px;
 
}

button:hover{
  background: #e64c49;
    transform: translateY(-3px);
  transition: 0.3s ease;
}
