body {
  background: #f3f2ef;
  font-family: 'Poppins', sans-serif;
  padding: 40px 0;
}

h2{
  text-align: center;
  color: #b92b27;
  margin-bottom: 40px;
}

.container {
  width: 50%;
  margin: auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.card p {
  margin-top: 15px;
  line-height: 1.6;
}

a {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #b92b27;
  color: #b92b27;
  text-decoration: none;
}
